:root {
        /* --light-colour-1: #D8DBE2; */
        --light-colour-1: #e2ebf5;
        --light-colour-2: #A9BCD0;
        --light-colour-3: #B8BCBF;
        /* --highlight-colour-1: #68c0ce; */
        --highlight-colour-1: #45d3e9;
        /* --highlight-colour-2: #4E919B; */
        --highlight-colour-2: #39b2c5;
        --dark-colour-1: #373F51;
        --dark-colour-2: #1B1B1B;

        --modal-box-top-padding: 2%;
        --video-width-desktop : 60%;
        --video-width-mobile: 90%
}

.modal-container {
    display: none;
    position: fixed;
    z-index: 1; /* Placed on top of rest of the page */
    
    /* Modal box location */
    padding-top: var(--modal-box-top-padding); 
    /* margin-bottom: 10%; */
    left: 0;
    top: 0;
    
    width: 100%;
    height: calc(98vh - var(--modal-box-top-padding)); 
    /* overflow: auto; */ /*  Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback colour */
    background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid var(--light-colour-3);
    width: 90%;
    height: calc(100vh - var(--modal-box-top-padding)); 
    /* overflow: auto; */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    border-radius: 3px;

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

/* ---------------------
    Animations - Taken from: https://www.w3schools.com/howto/howto_css_modals.asp
--------------------- */
  /* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}



/* The Close Button */
.close-button {
    color: white;
    float: right;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.close-button:hover, .close-button:focus {
color: var(--light-colour-3);
text-decoration: none;
cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: var(--dark-colour-2); /* --highlight-colour-2s */
    color: white;
}

.modal-header h2 {
    margin: 1% 5%;
    font-size: 3.5rem;
}

.modal-main {
    padding: 2px 16px;
    height: 80%; 
    overflow: auto;
}

.modal-desc {
    height: 100%;
}

.modal-desc-section {
    margin: 0 5%;
}

.modal-desc-section h3 {
    margin: 1rem 0 0.5rem 0;
}

.modal-desc-section p {
    margin-bottom: 0;
}

.modal-desc-section img {
    width: var(--video-width-desktop);
    display: block;
    margin: 1rem auto;
}

/* Taken from: https://www.w3schools.com/howto/howto_css_responsive_iframes.asp */
.modal-desc-section * iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: var(--video-width-desktop);
    padding-top: calc(var(--video-width-desktop) * 0.5625) ; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 1rem auto;
}

/* Mobile version changes */
@media only screen and (max-width: 992px) {
    .modal-desc-section {
        margin: 0;
    }

    .modal-desc-section img {
        width: var(--video-width-mobile);
    }

    .iframe-container {
        width: var(--video-width-mobile);
        padding-top: calc(var(--video-width-mobile) * 0.5625) ; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    }
}
