/* ----------------------------
    General - Default Elements
---------------------------- */ 
:root {
    --navbar-height: 13vh;
    --main-width-padding: 9.5vw;
    --home-section-padding: 5vh 5.5vw 5vh 5.5vw;

    --light-colour-1: #e2ebf5;
    --light-colour-2: #A9BCD0;
    --light-colour-3: #B8BCBF;
    --highlight-colour-1: #2dd6f0;
    --highlight-colour-2: #39b2c5;
    --dark-colour-1: #373F51;
    --dark-colour-2: #1B1B1B;
}

html {
    scroll-behavior: smooth;     /* Enables a smooth scroll when pressing links in the nav bar */
    scroll-padding-top: var(--navbar-height);
}

/* Body */
body {
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    font-size: 1.25rem;
    color: var(--dark-colour-2);
    
    padding: 0;
    margin: 0;
}
body a {
    color: var(--dark-colour-2);
}

/* Headings */
h1 {
    font-size: 2.25rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 1.75rem;
    margin: 0;
    margin-top: 0;
}

/* Button */
button {
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    background-color: var(--highlight-colour-1);
    border-color: var(--highlight-colour-1);
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    
    font-size: 1.25rem;
    color: white;
}
button:hover {
    background-color: var(--highlight-colour-2);
    border-color: var(--highlight-colour-2);
}

/* ----------------------------
    General - Custom Elements
---------------------------- */ 
.p-links {
    color: var(--highlight-colour-1);
    font-weight: 600;
}


/* ---------------------
    Home Page Styling
--------------------- */ 
#homepage-hero {
    height: calc(100vh - var(--navbar-height));
    padding: 0 var(--main-width-padding);
}

#intro-container {
    padding: 10% 9.5vw;
}

#intro-greeting {
    font-weight: 400;
}

#intro-name-big {
    font-weight: 600;
}

#intro-desc-big {
    font-weight: 600;
    color: var(--light-colour-3);
}

#intro-contact {
    margin-top: 4rem;
}