/* ----------------------------
    General - Default Elements
---------------------------- */ 
:root {
    --navbar-height: 13vh;
}

/* Body */
body {
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    font-size: 1.25rem;
    color: rgb(32, 48, 64);
    
    padding: 0.5vh 9.5vw;
}
body a {
    color: rgb(32, 48, 64);
}

/* Header */
header {
    display: block;
    padding: 1rem 0 1rem 0;

    position: sticky;
    top: 0;
    background: white;
}
header a {
    text-decoration: none;
}

/* Nav menu */
nav {
    margin: 2rem 0;
    font-size: 2rem;
    font-size: 1.25rem;
    font-weight: 600;
}
nav ul {
    display: flex;
    justify-content: space-around;
    text-align: center;
    list-style-type: none;
    
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
nav ul li {
    margin: 0 1rem;
}
nav ul a {
    text-decoration: none;
}
nav ul a:hover {
    text-decoration: underline;
}
nav ul a:visited {
    color: rgb(32, 48, 64);
}

/* Main */
main {
    padding: 0 9.5vw;
}

/* Footer */
footer {
    display: block;
    font-size: 1rem;
    margin-top: 3rem;
}
footer a {
    color: rgb(240, 84, 84);
}

/* Headings */
h1 {
    font-size: 2rem;
    margin: 0;
}

h2 {
    font-size: 4rem;
    margin: 0;
}

h3 {
    font-size: 1.25rem;
    margin: 0;
    margin-top: 0;
}

/* Button */
button {
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    background-color: rgb(240, 84, 84);
    border-color: rgb(240, 84, 84);
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    
    font-size: 1.25rem;
    color: white;
}
button:hover {
    background-color: rgb(216, 65, 65);
    border-color: rgb(216, 65, 65);
}

/* ----------------------------
    General - Custom Elements
---------------------------- */ 
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-social-links img {
    max-height: 2.25rem; /* Tied to the font-size of the h1 */
    margin: 0 .25rem;
}

.p-links {
    color: rgb(240, 84, 84);
    font-weight: 600;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    margin: 1rem 0;
}

/* Burger Menu */
#burger {
    display: none;
}

#burger-container {
    background-color: rgb(7, 8, 8, .1);
    /* padding: .25rem 1.25rem .25rem 1.25rem; */     /* Steam deck esc. */
    padding: .5rem .75rem .5rem .75rem; 
    border-radius: 4px;
}

#burger-dropdown-container {
    display: none;
    min-width: 100%;
    padding: 1rem .5rem 1rem .5rem;
}

#burger-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgba(7, 8, 8, 0.05);
    border-radius: 4px;
}

.burger-line {
    width: 30px;
    height: 4px;
    background-color: rgb(32, 48, 64);
    margin: 6px 0;
}

.burger-links {
    color: rgb(32, 48, 64);
    /* text-align: center; */
    text-decoration: none;
    font-size: 1.4rem;
    padding: 0.75rem 0.5rem;
    border-bottom: 1px solid rgb(32, 48, 64);
    margin: 0 0.5rem 0 0.5rem;
}


/* ---------------------
    Home Page Styling
--------------------- */ 
#homepage-hero {
    height: calc(100vh - var(--navbar-height));
}

#intro-container {
    padding: 0 9.5vw;
}

#intro-greeting {
    font-weight: 400;
}

#intro-name-big {
    font-weight: 600;
}

#intro-desc-big {
    font-weight: 600;
    color: rgb(180, 200, 205);
}

#intro-contact {
    margin-top: 4rem;
}

.partition {
    padding: 5vh 5.5vw 5vh 5.5vw;
}

.partition-inverted {
    padding: 5vh 5.5vw 5vh 5.5vw;
    background: rgb(180, 200, 205);
    color: white;
}


/* ---------------------
    Projects Page Styling
--------------------- */ 
.project-card-container {
    /* color: white; */
    background: rgb(209, 225, 230);
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.project-card-image {
    max-width: 100%;
}

.project-inverted {
    background: rgb(240, 84, 84);
    color: white;
}

/* Project card testing*/
.test-project-card-container {
    background: rgb(240, 84, 84);
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 3rem;
}
.test-project-card-container .p-links {
    color: rgb(32, 48, 64);
}
.test-project-card {
    display: flex;
    flex-wrap: wrap;
}
.test-project-card-main{
    max-width: 48%;
}
.test-project-card-desc {
    max-width: 48%;
    margin-left: 2rem;
}


/* ---------------------
    Resume Page Styling
--------------------- */ 
.cv-container a {
    color: rgb(240, 84, 84);
}

.cv-viewer {
    width: 100%;
    height: 75vh;
}

/* ---------------------
    Contact Page Styling
--------------------- */
.contact-form-container {
    display: flex;
    justify-content: center;
}
.contact-form-container form {
    width: 100%;
}
.contact-form-container form label {
    margin-bottom: .5rem;
}

.contact-form-text-input-containter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contact-form-input {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.contact-form-input input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    
    background-color: #f8f8f8;
    border-color: rgb(32, 48, 64);
    border-radius: 3px;
    border-width: 1px;
}

#contact-form-textarea {
    margin-top: 1rem;
}
#contact-form-textarea textarea {
    width: 100%;
    height: 25vh;
    padding: 12px 20px;
    display: block;
    box-sizing: border-box;
    resize: none;
    margin-top: 0.5rem;

    background-color: #f8f8f8;
    border-color:rgb(32, 48, 64);
    border-radius: 3px;
    border-width: 1px;
}


/* ---------------------
    Media Queries
--------------------- */
/* Fix issue where if the dropdown is active it will keep open regardless of the size of the pagae */
@media screen and (min-width: 1025px) {
    #burger-dropdown-container{
        display: none; 
    }    
}

@media only screen and (max-width: 1024px) {
    #burger {
        display: flex;
    }

    nav {
        display: none;
    }
}