body {
    font-family: "Raleway", "sans-serif";
    font-weight: 400;
    font-size: 1.5rem;
    color: rgb(32, 48, 64);
    
    /* background: whitesmoke; */
    margin: 3rem 15rem;
}

body a {
    color: rgb(32, 48, 64);
}

header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0;
}
header a {
    text-decoration: none;
}

nav {
    margin: 2rem 0;
    font-size: 2rem;
}
nav ul {
    display: flex;
    justify-content: space-between;
    text-align: center;
    list-style-type: none;
    
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}
nav ul a {
    text-decoration: none;
}
nav ul a:hover {
    text-decoration: underline;
}
nav ul a:visited {
    color: rgb(32, 48, 64);
}

main {
    margin-top: 3rem;
}

h1 {
    font-size: 3.5rem;
    margin: 0;
}

h3
{
    margin-top: 0;
    font-size: 2rem;
}

footer {
    display: block;
    font-size: 1rem;
    margin-top: 3rem;
}
footer a {
    color: rgb(240, 84, 84);
}

/* Need to get this properly aligned vertically */
.header-social-links img {
    max-height: 3.5rem; /* Tied to the font-size of the h1 */
    vertical-align: middle;

    margin: 0 .25rem;
}

.p-links {
    color: rgb(240, 84, 84);
    font-weight: 600;
}

.footer-contents {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    margin: 1rem 0;
}

/* ---------------------
    Home page styling
--------------------- */ 

.intro-container {
    font-weight: 2rem;
}

.intro-greeting {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 4rem 0;
}

.intro-name {
    font-weight: 600;
}

.intro-contact {
    margin-top: 4rem;
}

/* ---------------------
    Projects page styling
--------------------- */ 
.project-card-container {
    /* color: white; */
    background: rgb(209, 225, 230);
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.25rem;
    margin-bottom: 3rem;
}

.project-card-image {
    max-width: 100%;
}


/* Testing */
.test-project-card-container {
    background: rgb(209, 225, 230);
    padding: 1rem 2rem;
    border-radius: 4px;
    font-size: 1.25rem;
    color: white;
    margin-bottom: 3rem;
    
}
.test-project-card {
    display: flex;
    flex-wrap: wrap;
}
.test-project-card-main{
    max-width: 48%;
}
.test-project-card-desc {
    max-width: 48%;
    margin-left: 2rem;
}

/* ---------------------
    CV page styling
--------------------- */ 
.cv-container a {
    color: rgb(240, 84, 84);
}
/* TODO: Refine this - don't have set px values for height - got to bottom of screen */
.cv-viewer {
    width: 100%;
    height: 75vh;
}

/* ---------------------
    Contact page styling
--------------------- */
.contact-form-container {
    display: flex;
    justify-content: center;
}
.contact-form-container form {
    width: 100%;
}
.contact-form-container form label {
    margin-bottom: .5rem;
}

.contact-form-text-input-containter {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
}

.contact-form-input {
    display: flex;
    flex-direction: column;
    width: 45%;
}
.contact-form-input input[type=text] {
    padding: 12px 20px;
    box-sizing: border-box;
    
    background-color: #f8f8f8;
    border-color: rgb(32, 48, 64);
    border-radius: 3px;
    border-width: 1px;
}

#contact-form-textarea {
    margin-top: 1rem;
}
#contact-form-textarea textarea {
    width: 100%;
    height: 25vh;
    padding: 12px 20px;
    display: block;
    box-sizing: border-box;
    resize: none;
    margin-top: 0.5rem;

    background-color: #f8f8f8;
    border-color:rgb(32, 48, 64);
    border-radius: 3px;
    border-width: 1px;
}

#contact-form-submit-btn {
    padding: 0.75rem 1.5rem;
    margin: 1rem 0;
    background-color: rgb(240, 84, 84);
    border-color: rgb(240, 84, 84);
    border-width: 2px;
    border-radius: 3px;
    border-style: solid;
    
    font-size: 1.25rem;
    color: white;
}

#contact-form-submit-btn:hover {
    background-color: rgb(216, 65, 65);
    border-color: rgb(216, 65, 65);
}